body {
    font-family: 'Roboto', sans-serif;
}

.header {
}
.header-navigation {
}
.navigation-logo {
font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1,33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
text-decoration: none;
}
.navigation-list a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.link:hover {
    color: #434455;
}
 
.header-list a {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1,5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}

.section-hero {
    background-color: #2E2F42;
}

.title-hero {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1,07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
;}

.hero-button {
    
}